<form>
  <div class="form-group">
    <label for="exampleInputEmail1">user id</label>
    <input type="id" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
